
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}
.contenido-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #1F2937;
    color: #F9FAF8;
}
.contenido-header .navegacion .logo-img h1{
    font-size: 24px;
    font-weight: bold;
}
.contenido-header .navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    width: 100%;
}
.contenido-header .navegacion .nav-lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.contenido-header .navegacion .nav-lista li{
    list-style: none;
    padding-left: 5px;
}
.contenido-header .navegacion .nav-lista li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;

}

.contenido-header .contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px auto;
    padding: 90px;
   
}
.contenido-header .contenido .textos{
    width: 400px;
    padding-left: 55px;
}
.contenido-header .contenido .textos h2{
    font-size: 48px;
    padding-bottom: 10px;
}
.contenido-header .contenido .textos p{
    padding-bottom: 25px;
}
.contenido-header .contenido .textos a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #E5E7EB;
    background-color: #3882f6;
    padding: 10px 40px;
    border-radius: 8px;
}
.contenido-header .contenido .img-contenido{
    width: 50%
    
}
.contenido-header .contenido .img-contenido img{
    width: 500px;
    height: 250px;
}
.contenido-principal{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px ;
    

}
.contenido-principal h2{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.contenido-principal .img-contenidoPrincipal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.contenido-principal .img-contenidoPrincipal .imgs-card img{
    border: 5px solid #3882f6;
    padding: 0;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.quote-texto{
    background-color: #E5E7EB;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.quote-texto .texto{
    width: 800px;
}
.quote-texto p{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding-bottom: 20px;
}
.quote-texto h3{
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}
.call-signup{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.call-signup .contenido-call{
    background-color: #3882f6;
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 18px;
}
.call-signup .contenido-call h3{
    font-weight: bold;
}
.call-signup .contenido-call p{
    color: #cccccc;
    
}
.call-signup .contenido-call a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #E5E7EB;
    background-color: #3882f6;
    padding: 10px 40px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937 ;
}